*{
    box-sizing: border-box;
    font-family: "Helvetica",sans-serif;

}
body{
    background-color: blanchedalmond;
}
.container{
    background-color: rgb(220, 222, 235);
    max-width: 600px;
    margin: 100px auto;
    padding: 20px ;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 10px;
}
#pera{
    font-size: 20px;
    font-weight: bold;
}
label{
    font-weight: bold;
}
h1{
    margin-top: 0;
    text-align: center;
}
input{
    padding: 10px;
    border: 1px solid gray;
    border-radius: 4px;
    margin: 10px 0;
    width: 100%;
}
button{
    background-color: #4caf50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 10px 0;
    width: 100%;
    font-size: 18px;
    text-transform: uppercase;
    transition: background-color .2s;
}
button:hover{
    background-color: #06680b;

}
#total{
    font-size: 24px;
    font-weight: bold;
    margin-top: 10px ;
}
@media screen and (max-width: 500px) {
    .container{
     
        max-width: 300px;
        margin: 50px auto;
        padding: 10px ;
      
    }
    

    }
}